<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.itcast.controller" />
    <mvc:annotation-driven />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <context:property-placeholder location="classpath:env.properties"/>

    <!-- 配置文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--文件大小效验-->
        <property name="maxUploadSize" value="5000000"/>
    </bean>


    <!-- 引用dubbo服务 -->
    <dubbo:application name="taotao-manager-web"/>
    <dubbo:registry protocol="zookeeper" address="192.168.37.161:2181"/>
    <dubbo:reference interface="cn.itcast.service.TestService" timeout="1000000" id="testService" />
    <dubbo:reference interface="cn.itcast.service.ItemCatService" timeout="1000000" id="itemCatService"/>
    <dubbo:reference interface="cn.itcast.service.ItemService" timeout="1000000" id="itemService"/>
    <dubbo:reference interface="cn.itcast.service.ItemDescService" timeout="1000000" id="itemDescService"/>
    <dubbo:reference interface="cn.itcast.service.ContentService" timeout="1000000" id="contentService"/>
    <dubbo:reference interface="cn.itcast.service.ContentCategoryService" timeout="1000000" id="contentCategoryService"/>

</beans>

